[loggers]
keys=root

[handlers]
keys=fileHandler,consoleHandler

[formatters]
keys=normalFormatter,onlyMsgFormatter,detailFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[handler_consoleHandler]
class=StreamHandler
args=(sys.stdout,)
level=DEBUG
formatter=onlyMsgFormatter

[handler_fileHandler]
class=FileHandler
args=('logging.log', 'a')
level=ERROR
formatter=normalFormatter

[formatter_detailFormatter]
format=%(name)s-%(asctime)s-%(levelname)s-%(module)s-%(funcName)s-%(lineno)s\n%(message)s\n

[formatter_onlyMsgFormatter]
format=%(message)s

[formatter_normalFormatter]
format=%(asctime)s-%(levelname)s-%(message)s